<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>Document</title>
</head>
<body>
    <nav>
        THIS IS FAKE NAV BAR 
        <div>
            <button id="dropdownButton">Change Story</button>
            <div id="storyDropDown" class="dropdown">
                {% for i in storyCount %}
                <a href="/home/{{i}}">Mystery Story</a>
                {% endfor %}
            </div>
        </div> 
    </nav>
    {% block bodystuff %}
    {% endblock %}
    <footer>AND THIS IS A FAKE FOOTER</footer>
    <script src="/static/base.js"></script>
</body>
</html>